@tailwind base;
@tailwind components;
@tailwind utilities;
.fixed {
  position: fixed;
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust z-index to position it above other elements */
}

/* Modal */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 80%; /* Adjust the maximum width as needed */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the modal height */
}

/* Close button */
.modal button {
  background-color: #ccc;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Close button hover effect */
.modal button:hover {
  background-color: #aaa;
}

/* You can add more styles to customize the appearance of your modal and overlay as needed. */
